<div class="modal-list">
    <div class="modal-list-bg-dark">
        <form class="modal fadeIn" [formGroup]="formGroup" (ngSubmit)="editMode ? editList() : registerList()">
            <div class="modal-actions">
                <h1>Lista</h1>
                <img src="../../../../assets/icons/modal-list/close.svg" alt="" (click)="close()">
            </div>
            <input type="text" name="titulo" placeholder="Título" formControlName="titulo" autocomplete="off">
            <button type="submit">
                <img src="../../../../assets/icons/modal-list/save.svg" alt="">
                Salvar
            </button>
        </form>
    </div>
</div>
