.sidebar {
    height: 100%;
    background-color: #fff;
    border-radius: 1rem;
    padding: 1rem;
    position: relative;
    overflow: hidden;

    .sidebar-header {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .sidebar-header-actions {
            display: flex;
            align-items: center;
            gap: 0.6rem;
        }

        .sidebar-header-actions>img {
            cursor: pointer;
        }

        .sidebar-header-actions>img:hover {
            transform: scale(1.05);
        }
    }

    .sidebar-search {
        margin-top: 1rem;
        display: flex;
        background-color: #F4F4F4;
        padding: 0.5rem;
        border-radius: 1rem;

        & input[type=text] {
            flex: 1;
            outline: none;
            border: none;
            background-color: inherit;
            padding-left: .5rem;
            font-size: 1rem;
        }

        img {
            width: 28px;
            cursor: pointer;
        }
    }

    .sidebar-scroll {
        margin-top: 1rem;
        max-height: 85%;
        height: 100%;
        overflow: hidden;
        overflow-y: scroll;
        position: absolute;
        width: 95%;
        padding-bottom: 1rem;
    }

    .siderbar-list {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        padding: 0.3rem;

        .siderbar-list-item {
            display: flex;
            align-items: center;
            gap: 0.8rem;
            font-size: 1.3rem;
            cursor: pointer;
            padding: 0.5rem;
        }

        .siderbar-list-item:hover {
            background-color: #eeee;
        }
    }

    .selected {
        background-color: #454D6B !important;
        color: #fff !important;
    }

}
